.container_post__reply_innerpost{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
    gap: 3em;
    margin: 2em;
}

.container_reply_innerpost{
    background-color: rgb(246, 246, 246);
    margin-top: -0.7em;
    }

.item_txt_area_reply_innerpost{
    width: 100%;
    resize: none;
    height: 15em;
    outline: none;
    margin-top: 5em;
    }

.container_btn_reply_innerpost{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 30em;
  }

  .container_nav_back_innerpost{
    margin-left: 1em;
    
  }

  .nav_back_innerpost{
    color:grey;
  }

  .icone_arrowback_innerpost:hover{
    cursor: pointer;
    color:red;
  }

  