.tt_Innerpost{
  text-align: center;
  margin-bottom: 1.5em;
}

.container_innerpost{
    display: flex;
    min-height: 45em;
    flex-direction: column;
}

.container_reply_innerpost{
    margin-bottom: 1em;
    }

.item_txt_area_reply_innerpost{
    margin-top: 2em;
    }

.container_btn_reply_innerpost{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 30em;
  }

  .container_nav_back_innerpost{
    margin-left: 1em;
    margin-top: 1em;
  }

  .nav_back_innerpost{
    color:grey;
  }

  .icone_arrowback_innerpost:hover{
    cursor: pointer;
    color:red;
  }

  .error_innerpost{
    color: red;
    text-align: center;
  }

  .btn_reply_innerpost{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-color:#ff9e9e;
    border-color: red;
    width: 9em;
    height: 3em;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
  }

  .btn_reply_innerpost:hover{
    transform: scale(1.1);
    filter: drop-shadow(8px 8px 8px red) ;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

.container_pagination_innerpost{
  margin-left: 5em;
}

.display_reply_innerPost{
  margin-left: 2em;
}

@media (max-width: 1250px) { 

  .display_reply_innerPost{
      margin-top:1em ;
      margin-bottom: 1em;
  }
}