.footer-container {
  margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #778899;
    color: #FFD7D7;
    padding: 1rem;
    height: 5em;
    width: 100%;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8em;
  }
  
  .copyight {
    font-size: 0.8rem;
  }