
*{
    box-sizing: border-box;
}


.mt-100{margin-top:100px}


.card-header{display: flex;
    align-items: center;
    flex-wrap:wrap;
    
    border-bottom-width: 1px;
    padding-right: .625rem;
    text-transform: uppercase;}

.item_ch_mp{
    margin-left: 2em;
}

.item_img_mpost{
    border: 1px solid black;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
}

.container_button{
    display:flex ;
    flex-wrap:wrap;
    justify-content:space-between;
}

.textarea_mp{
   
    height:100%;
    width:100%;
}