.header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFD7D7;
  height: 6em;
  width: 100%;
}

.container_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  z-index: 1;
}

.menu_nav {
  display: flex;
  list-style: none;
  gap:15px;
  margin: 0;
  padding: 0;
}

.menu_open_nav {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #FFD7D7;
}

.menu_item_nav {
  margin: 1em 0;
}

.menu_item_nav:hover{
  transform: scale(1.2);
  
}

.menu_link_nav{
  color: black;
  font-weight: bold;
}

.menu_link_nav:hover{
  color:red;
}

.logo_nav{
  padding: 2em;
  margin-left: 2em;
  margin-right: 2em;
  width: 15em;
  display: block;
  position: relative;
}

.img_nav{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.menu_button_nav{
  cursor: pointer;
}

.ico_nav:hover{
  transform: scale(1.5);
}

@media only screen and (max-width: 576px) {
  .logo_nav{
    width: 8em;
  }
  
}
