*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    width: 100%;
    min-height: 75px;
    padding: 1rem;
    background-color:#FFD7D7;
}

.navbar_ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar_link{
    text-decoration: none;
    padding:0 0.3rem ;
    color: inherit;
}

.navbar_burger{
   width: 40px;
   height: 40px; 
   background: transparent;
   color: inherit;
   display: none;
   border:none;
}

.navbar_logo{
    padding: 2em;
    margin-left: 2em;
    margin-right: 2em;
    width: 15em;
    display: block;
    position: relative;
}

.img_nav{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

@media screen and (max-width:767px) {
    .navbar_ul{
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        position: fixed;     
        right: -100vw;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        background-color:#FFD7D7;
        visibility: hidden;
    }

    .show_nav .navbar_ul{
        width: 100vw;
        right:0;
        visibility: visible;
    }

    .navbar_link{
        display:block ;
        padding: 1.5rem;
        font-size: 5vw;
    }

    .navbar_burger{
        display: block;
        position: fixed;
        top:1rem;
        right:1rem;
    }

    .navbar_burger:hover{
        cursor: pointer;
    }
    .burger_bar,
    .burger_bar::before,
    .burger_bar::after{
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: black;
        transition: all 0.5s ease-in-out
    }
    .burger_bar::before,
    .burger_bar::after{
        content: "";
        position: absolute;
        left: 0;
    }

    .burger_bar::before{
        transform: translateY(-12px);
    }

    .burger_bar::after{
        transform: translateY(12px);
    }

    .show_nav .burger_bar{
        width: 0;
        background: transparent;
    }

    .show_nav .burger_bar::before{
        transform: rotate(45deg);
    }

    .show_nav .burger_bar::after{
        transform: rotate(-45deg);
    }

}

