.ul_button_pagination{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none; 
}

.li_button_pagination{

}

.a_button_pagination{
    display: inline-block;
    font-weight: bold;
    margin-left: -2px;
    color:black;
}

.a_button_pagination:hover{
    text-decoration: underline;
}

.page_button_active{
    color: red
}

